.product {
    margin: 20px 0;
    width: 100%;
    height: 60px;
    padding: 0 100px;
}

.adjustContainer {
    justify-content: flex-start;
    padding-left: 20px;
    background-color: var(--color-bg-secondary);
}

.sub_menu-item {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text-secudary);
}

.sub_menu-active {
    font-weight: 700;
}