header {
    background-color: var(--color-bg-primary);
    width: 100%;
    height: 70px;
    padding: 0 100px;
}

.menu-item {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text-primary);
}

.menu-active {
    font-weight: 700;
}




