@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('ttf'),
        url('../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
}

:root {
    --color-bg-primary: #2d28ff;
    --color-bg-secondary: #c7c7c7;

    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

h1 {
    font-weight: 700;
    font-size: 24px;
}